.fw {
	width: 100%;
	
}

.material-icons.blue100 {
	color:#2196f3;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
}
.display {
	background-color: gray;
	height: 50vh;
}